@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Crimson+Pro:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  /* --- NEW FONTS --- */
  --font-crimson-pro: 'Crimson Pro', serif;
  --font-atkinson: 'Atkinson Hyperlegible', sans-serif;

  /* --- NEW COLORS --- */
  --color-primary: #B91C1C; /* Red */
  --color-secondary: #FBBF24; /* Gold/Yellow */
  --color-background: #F9FAFB; /* Off-white */
  --color-text: #1F2937; /* Dark Gray */
  --color-border: #E5E7EB; /* Gray */
}

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: var(--color-background);
  font-family: var(--font-atkinson);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-crimson-pro);
}

/* make scrollbar thin */
::-webkit-scrollbar {
  width: 0px;
}
